.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 620px;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.card :global(.ant-card-body) {
    display: flex;
    flex-direction: row;
    padding: 0 0;
    gap: 30px
}
.card-image {
    /* background-color: rgba(170, 141, 198, 0.117); */
    border: 5px solid rgba(170, 141, 198, 0.117);
    width: 400px;
    height: 580px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center
}
.card-image .avatar {
    /* width: 400px;
    height: 400px; */
    /* margin-top: 50px */
}

.card-upload {
    width: 400px;
    height: 580px;
    border-radius: 25px;
    background-color: rgba(170, 141, 198, 0.117);
    margin: 0 auto
}


.upload-icon {
    width: 150px;
    width: 150px;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
    left: 50%;
}

.upload-text {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 45%;
    transform: translateX(-50%);
    left: 50%;
}